tupo-solver {
  display: block;
  inline-size: 100%;
  container-type: inline-size;

  --red: crimson;
  --yellow: gold;
  --green: forestgreen;
  --blue: skyblue;
  --purple: rebeccapurple;
  --size: attr(size number);

  &::part(root) {
    display: grid;
    inline-size: 70cqmin;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
    gap: 0.125rem;
    margin: 0.5rem auto;
  }

  &::part(message) {
    font-style: italic;
    margin: 1rem 0.5rem;
  }

  &::part(board) {
    display: grid;
    grid-template-columns: repeat(var(--size), auto);
    aspect-ratio: 1;
    gap: 0.25rem;
    inline-size: 100%;
  }

  &::part(input) {
    display: block;
    aspect-ratio: 1;
    inline-size: calc((70cqmin / var(--size)) - 0.25rem);
    font-size: 2rem;
    border: 1px solid oklch(from slategray 80% c h);
    border-radius: 0.25rem;
    text-align: center;
    caret-color: oklab(0% 0 0 / 0);
    background: oklch(from var(--color) 90% 0.25 h);
  }

  &::part(selected) {
    outline: 2px solid oklch(from ActiveBorder 70% c h);
  }

  &::part(solved) {
    opacity: 0.5;
  }

  &::part(controls) {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;
    gap: 0.25rem;
    place-content: center;
    margin: 0.5rem auto;
  }

  &::part(divider) {
    flex-basis: 100%;
  }

  &::part(button) {
    display: block;
    flex-basis: 15%;
    aspect-ratio: 1;
    font-size: 0.875rem;
    background: oklch(from var(--color) 90% 0.25 h);
    border: 1px solid oklch(from slategray 80% c h);
    border-radius: 0.25rem;
    cursor: pointer;
  }
}
